<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Big old Heading1 up in here!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>This is a Heading2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p style="color: red">This here is a paragraph</p>
        </div>
        <div class="col-md-6">
            <p style="color: blue">This is a different one</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="background: antiquewhite">
            <div class="row">
                <div class="col-md-6">
                    <p>Lefty</p>
                </div>
                <div class="col-md-6">
                    <p>Righty</p>
                </div>
            </div>
            <p style="color: red">This here is a paragraph</p>
        </div>
        <div class="col-md-6" style="background: lightgray">
            <p style="color: blue">This is a different one</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Here's another H1</h1>
            <h2>And another H2</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3" style="background: cyan">
            <p>I've got some groceries<br/>
                some peanut butter<br/>
                to last a couple of days<br/>
                but I ain't got no speakers<br/>
                ain't got no headphones<br/>
                ain't got no records to play
            </p>
        </div>
    </div>



</div>

</body>
</html>